[submodule "bundle/markdown"]
	path = bundle/markdown
	url = git://github.com/hallison/vim-markdown.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "bundle/rvm"]
	path = bundle/rvm
	url = git://github.com/csexton/rvm.vim.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
